{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!--        <link rel="stylesheet" href="../../static/css/blog.css">-->
{#    <script src="{% static button_copy_url %}"></script>#}
{#    <script>#}
{#        function myFunction() {#}
{#  /* Get the text field */#}
{#  var copyText = document.getElementById("myInput");#}
{##}
{#  /* Select the text field */#}
{#  copyText.select();#}
{#  copyText.setSelectionRange(0, 99999); /* For mobile devices */#}
{##}
{#   /* Copy the text inside the text field */#}
{#  navigator.clipboard.writeText(copyText.value);#}
{#  /* Alert the copied text */#}
{#  alert("Copied the text: " + copyText.value);#}

{#    </script>#}

</head>
<body>
<div id="content">
    <form action="." method="post" enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>

    <a href="{{ short_url }}" id="short-url">{{ short_url }}</a>
{#    <button onclick="myFunction()">Copy url</button>#}

</div>
</body>
</html>
